.chatbox_container{
  display: flex;
  height: 95%;
  max-height: 95%;
  flex-direction: column;
  width: 50%;
  margin: 25px auto;
  border: solid 3px #FFF;
  border-radius: 20px;
  transition: all 0.5s ease;
  position: absolute;
  top: 100%;
  left: 25%;
}
.chatbox_wrapper{
  display: inline-block;
  flex: 8;
  flex-direction: inherit;
  max-height: 500px;
  padding: 10px 0px;
  align-items: flex-end;
  justify-content: flex-end;
  vertical-align: bottom;
  overflow-y: auto;
}
.chatbox_wrapper > div{
  display: flex;
  vertical-align: bottom;
}
.messageBox_wrapper{
  display: inherit;
  flex: 2;
  flex-direction: inherit;
  min-height:20%;
  align-items: center;
  justify-content: center;
}
.show-chatbox{
  top: 0;
}
