.introWrapper{
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4a148c ;

}
.introWrapper h1{
  font-family: 'Roboto',sans-serif;
  font-weight: 100;
  color: #FFF;
  transition: all 1s;
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.animatedText{
  font-size: 0em;
  transition: all 2s ease;
}
.animate{
  font-size: 4em;
}
.exit{
  font-size: 0em;
}
