.introWrapper{
  height: 100%;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4a148c ;
  display: none;
  opacity: 0;
  transition: all 1s;
}
.show-intro{
  opacity: 1;
  display: flex;
}
