.chatBubble{
  width: 25%;
  max-width: 25%;
  color: #000;
  display: inline-block;
  display: flex;
  flex-direction: column;
  font-size: 1.15em;
  font-weight: 300;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  transition: all 1s ease-in-out;
  margin:5px 10px;
  padding: 5px;
  word-wrap: break-word;
  position: relative;
}
.user{
  border:solid 2px #FFF;
  color: #FFF;
  font-weight: 300;
  display: inline-block;
  flex-direction: column;
  margin-right: auto;
}
.system{
  border:solid 2px #FFF;
  color: #FFF;
  font-weight: 300;
  display: inline-block;
  flex-direction: column;
  margin-left: auto;
}
