.single_chat_wrapper{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  padding: 10px 0px;
  box-sizing: border-box;
}
.user-icon{
  background: #FFF;
  color: #000;
  display: none;
}
.system-icon{
  background: #f50057;
  color: #FFF;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 3px;
  font-family: 'Roboto',sans-serif;
  font-size: 0.75em;
  font-weight: 300;
}
.chatBubble{
  width: 25%;
  max-width: 25%;
  color: #000;
  display: inline-block;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 300;
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  transition: all 1s;
  margin:5px 10px;
  padding: 5px;
  word-wrap: break-word;
  visibility: hidden;
  box-sizing: border-box;
}
.user{
  border:solid 2px #FFF;
  background: #FFF;
  color: #000;
  font-weight: 100;
  display: inline-block;
  flex-direction: column;
  margin-right: auto;
  visibility: visible;
}
.system{
  border:solid 2px #FFF;
  background: #FFF;
  color: #000;
  font-weight: 100;
  display: inline-block;
  flex-direction: column;
  margin-left: auto;
  visibility: visible;
}
