.messageBox{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #FFF;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}
.textInput{
    display: inherit;
    flex-direction: inherit;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #FFF;
    text-align: left;
    box-sizing: border-box;
    border-radius: inherit;
    transition: all 1.5s ease-in-out;
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    font-size: 1.25em;
    max-height: 100%;
    overflow-y: auto;
}
